/*
/*/

!.gitignore

!flutter-test-generator/
flutter-test-generator/**

!flutter-test-generator/README.md
!flutter-test-generator/QUICKSTART.md

!flutter-test-generator/src/
flutter-test-generator/src/**
!flutter-test-generator/src/extension.ts
!flutter-test-generator/src/methodGenerator.ts
!flutter-test-generator/src/dtoGenerator.ts
!flutter-test-generator/src/cubitGenerator.ts

!report/
report/**
!report/images/
!report/images/**
!report/main.tex
!report/main.pdf

!test_demo_app/
!test_demo_app/**